# Formulário de Contato
VITE_FORM_ENDPOINT=https://formspree.io/f/YOUR_FORM_ID

# Google Analytics
VITE_GA_ID=G-XXXXXXXXXX

# Google Tag Manager
VITE_GTM_ID=GTM-XXXXXXX

# WhatsApp
VITE_WHATSAPP_NUMBER=5528999710377

# Site URL (para sitemap)
VITE_SITE_URL=https://conecta.com.br

# Meta tags
VITE_SITE_TITLE=CONECTA - Soluções Empresariais
VITE_SITE_DESCRIPTION=Soluções inovadoras para conectar seu negócio ao futuro
VITE_SITE_KEYWORDS=conecta, soluções empresariais, tecnologia, inovação 